@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* :not(input){
    font-family: 'Kreon', serif;
    text-shadow: 1.2px 1.2px #000;
    text-transform: capitalize;
    color: #fff;
    margin: 0;
    padding: 0;
}
.kavoon, .kavoon p, .kavoon h1, li{
    font-family: 'Kavoon', serif;
}
i{
    text-shadow: none;
    font-size: 1.3rem;
    transition: .3s;
}
li{
    width: 50%;
}
hr{
    border-color: #ffffff99;
}
.rotate{
    transform: rotateY(180deg);
}
.list-when-unminimized{
    width: calc(100% - 250px);
}
.list-when-minimized{
    width: calc(100% - 60px);
}

.active {
    background-color: rgb(0, 0, 0, .15);
}
.active p, .active i{
    color: #FE426A;
}